In [1]:
import pandas as pd
import os
from collections import Counter
import itertools
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'data.csv',
 'Project_1. Who wants to become a millionaire.ipynb']

In [124]:
data = pd.read_csv('data.csv')
data.head()

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [3]:
data.tail()

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
1885,tt0120903,0.182246,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,2766,6.6,2000
1886,tt0192255,0.123920,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,42,6.4,2000
1887,tt0131704,0.104908,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,35,4.0,2000
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,21,5.2,2000
1889,tt0163676,0.015997,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,12,5.2,2000

In [4]:
print(f'Всего наблюдений в датасете: {len(data)}')

Всего наблюдений в датасете: 1890

In [5]:
# Проверим наличие NaN-значений
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890 entries, 0 to 1889
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1890 non-null   object
 1   popularity            1890 non-null   float64
 2   budget                1890 non-null   int64
 3   revenue               1890 non-null   int64
 4   original_title        1890 non-null   object
 5   cast                  1890 non-null   object
 6   director              1890 non-null   object
 7   tagline               1890 non-null   object
 8   overview              1890 non-null   object
 9   runtime               1890 non-null   int64
 10  genres                1890 non-null   object
 11  production_companies  1890 non-null   object
 12  release_date          1890 non-null   object
 13  vote_count            1890 non-null   int64
 14  vote_average          1890 non-null   float64
 15  release_year          1890 non-null   int64
dtypes: float64(2), int64(5), object(9)
memory usage: 236.4+ KB

# Предобработка датасета

In [6]:
# Список с ответами
answer_ls = []

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [7]:
data[data.budget == data.budget.max()].original_title

491    The Warrior's Way
Name: original_title, dtype: object

In [8]:
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [9]:
data[data.runtime == data.runtime.max()].original_title

1158    Gods and Generals
Name: original_title, dtype: object

In [10]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [11]:
data[data.runtime == data.runtime.min()].original_title

769    Winnie the Pooh
Name: original_title, dtype: object

In [12]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [13]:
round(data.runtime.mean())

110

In [14]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [15]:
round(data.runtime.median())

106

In [16]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [125]:
data['profit'] = data.revenue - data.budget

In [18]:
data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

In [19]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [20]:
data[data.profit == data.profit.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431

In [21]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [22]:
profitable = data[data.profit > 0].original_title.count()
print(f'Всего прибыльных фильмов: {profitable}')

Всего прибыльных фильмов: 1478

In [23]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [24]:
data.query('release_year == 2008').query('profit == profit.max()')

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825

In [25]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [26]:
data.query('2012 <= release_year <= 2014').query('profit == profit.min()').original_title

1246    The Lone Ranger
Name: original_title, dtype: object

In [27]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [28]:
genre_counter = Counter()

for genres in data.genres:
    genres = genres.split('|')
    for genre in genres:
        genre_counter[genre] += 1
        
print(genre_counter.most_common(1))

[('Drama', 782)]

In [29]:
# Друой способ
pd.DataFrame(data.
             genres.
             str.
             split('|').tolist()).stack().value_counts()

Drama              782
Comedy             683
Thriller           597
Action             583
Adventure          416
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            223
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             20
Documentary          8
Foreign              2
dtype: int64

In [30]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [31]:
profitable = data[data.profit > 0]
genre_counter = Counter()

for genres in profitable.genres:
    genres = genres.split('|')
    for genre in genres:
        genre_counter[genre] += 1
genre_counter.most_common(1)

[('Drama', 560)]

In [32]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [33]:
data.director.value_counts()

Steven Soderbergh         13
Ridley Scott              12
Clint Eastwood            12
Steven Spielberg          10
Shawn Levy                10
                          ..
Floria Sigismondi          1
Chris Koch                 1
Andrew Erwin|Jon Erwin     1
Gavin O'Connor             1
Danny Cannon               1
Name: director, Length: 958, dtype: int64

In [34]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [35]:
profitable.director.value_counts()

Ridley Scott         12
Steven Soderbergh    10
Steven Spielberg     10
Clint Eastwood       10
Shawn Levy            9
                     ..
Richard Curtis        1
Steve Martino         1
Jon Amiel             1
Shane Black           1
Scott Waugh           1
Name: director, Length: 774, dtype: int64

In [36]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [37]:
data.groupby(['director']).profit.sum().sort_values(ascending=False)

director
Peter Jackson            5202593685
David Yates              3379295625
Christopher Nolan        3162548502
J.J. Abrams              2839169916
Michael Bay              2760938960
                            ...
David Bowers|Sam Fell     -84540684
Peter Hyams               -86956545
Ron Underwood             -92896027
James L. Brooks           -96289726
Sngmoo Lee               -413912431
Name: profit, Length: 958, dtype: int64

In [38]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [39]:
def spliter(df):
    x = df.split('|')
    return x

In [40]:
data.cast = data.cast.apply(spliter)

In [41]:
actor_profit = Counter()
i = 0

for actors in data.cast:
    for actor in actors:
        actor_profit[actor] += data.profit.iloc[i]
    i += 1

In [42]:
actor_profit.most_common(1)

[('Emma Watson', 6666245597)]

In [43]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [44]:
actor_loss = Counter()
new_data = data.query('release_year == 2012')
j = 0

for actors in new_data.cast:
    for actor in actors:
        actor_loss[actor] += new_data.profit.iloc[j]
    j += 1

In [45]:
actor_loss.most_common()[-1]

('Kirsten Dunst', -68109207)

In [46]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [47]:
budget_mean = data.budget.mean()
budget_mean

54506961.474603176

In [48]:
actor_counter = Counter()
high_budget = data[data.budget > budget_mean]

for actors in high_budget.cast:
    for actor in actors:
        actor_counter[actor] += 1

actor_counter.most_common(1)

[('Matt Damon', 18)]

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [115]:
data.genres = data.genres.apply(spliter)

In [50]:
cage_genre = Counter()

i = 0
for genres in data.genres:
    for genre in genres:
        if 'Nicolas Cage' in data.cast.iloc[i]:
            cage_genre[genre] += 1
    i += 1

In [51]:
cage_genre.most_common(1)

[('Action', 17)]

In [52]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [116]:
data.production_companies = data.production_companies.apply(spliter)

In [54]:
prod_counter = Counter()

for companies in data.production_companies:
    for company in companies:
        prod_counter[company] += 1
        
prod_counter.most_common(1)

[('Universal Pictures', 173)]

In [55]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [56]:
new_data = data.query('release_year == 2015')

In [57]:
prod_counter = Counter()

for companies in new_data.production_companies:
    for company in companies:
        prod_counter[company] += 1
        
prod_counter.most_common(1)

[('Warner Bros.', 12)]

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [58]:
comedy_profit = Counter()
i = 0


for companies in data.production_companies:
    if 'Comedy' in data.genres.iloc[i]:
        for company in companies:
            comedy_profit[company] += data.profit.iloc[i]
    i += 1

comedy_profit.most_common(1)

[('Universal Pictures', 8961545581)]

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [59]:
new_data = data.query('release_year == 2012')

In [60]:
company_profit = Counter()
i = 0

for companies in new_data.production_companies:
    for company in companies:
        company_profit[company] += new_data.profit.iloc[i]
    i += 1
    
company_profit.most_common(1)

[('Columbia Pictures', 2501406608)]

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [61]:
pp_loss = Counter()
i = 0

for film in data.original_title:
    if 'Paramount Pictures' in data.production_companies.iloc[i]:
        pp_loss[film] += data.profit.iloc[i]
    i += 1

pp_loss.most_common()[-1]

('K-19: The Widowmaker', -64831034)

In [62]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [63]:
data.groupby('release_year').profit.sum().sort_values(ascending=False).head(1)

release_year
2015    18668572378
Name: profit, dtype: int64

In [64]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [126]:
wb_films = data[data.production_companies.apply(lambda x: 'Warner Bros.' in x)]

In [127]:
wb_films.groupby(['release_year']).profit.sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

In [119]:
answer_ls.append(1)