In [1]:
import pandas as pd
import os
from collections import Counter
import itertools
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'data.csv',
 'Project_1. Who wants to become a millionaire.ipynb']

In [211]:
data = pd.read_csv('data.csv')
data.head()

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [3]:
data.tail()

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
1885,tt0120903,0.182246,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,2766,6.6,2000
1886,tt0192255,0.123920,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,42,6.4,2000
1887,tt0131704,0.104908,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,35,4.0,2000
1888,tt0162983,0.031018,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,21,5.2,2000
1889,tt0163676,0.015997,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,12,5.2,2000

In [4]:
print(f'Всего наблюдений в датасете: {len(data)}')

Всего наблюдений в датасете: 1890

In [5]:
# Проверим наличие NaN-значений
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890 entries, 0 to 1889
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1890 non-null   object
 1   popularity            1890 non-null   float64
 2   budget                1890 non-null   int64
 3   revenue               1890 non-null   int64
 4   original_title        1890 non-null   object
 5   cast                  1890 non-null   object
 6   director              1890 non-null   object
 7   tagline               1890 non-null   object
 8   overview              1890 non-null   object
 9   runtime               1890 non-null   int64
 10  genres                1890 non-null   object
 11  production_companies  1890 non-null   object
 12  release_date          1890 non-null   object
 13  vote_count            1890 non-null   int64
 14  vote_average          1890 non-null   float64
 15  release_year          1890 non-null   int64
dtypes: float64(2), int64(5), object(9)
memory usage: 236.4+ KB

# Предобработка датасета

In [6]:
# Список с ответами
answer_ls = []

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [7]:
data[data.budget == data.budget.max()].original_title

491    The Warrior's Way
Name: original_title, dtype: object

In [8]:
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [9]:
data[data.runtime == data.runtime.max()].original_title

1158    Gods and Generals
Name: original_title, dtype: object

In [10]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [11]:
data[data.runtime == data.runtime.min()].original_title

769    Winnie the Pooh
Name: original_title, dtype: object

In [12]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [13]:
round(data.runtime.mean())

110

In [14]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [15]:
round(data.runtime.median())

106

In [16]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [212]:
data['profit'] = data.revenue - data.budget

In [18]:
data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

In [19]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [20]:
data[data.profit == data.profit.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431

In [21]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [22]:
profitable = data[data.profit > 0].original_title.count()
print(f'Всего прибыльных фильмов: {profitable}')

Всего прибыльных фильмов: 1478

In [23]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [24]:
data.query('release_year == 2008').query('profit == profit.max()')

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825

In [25]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [26]:
data.query('2012 <= release_year <= 2014').query('profit == profit.min()').original_title

1246    The Lone Ranger
Name: original_title, dtype: object

In [27]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [28]:
genre_counter = Counter()

for genres in data.genres:
    genres = genres.split('|')
    for genre in genres:
        genre_counter[genre] += 1
        
print(genre_counter.most_common(1))

[('Drama', 782)]

In [29]:
# Друой способ
pd.DataFrame(data.
             genres.
             str.
             split('|').tolist()).stack().value_counts()

Drama              782
Comedy             683
Thriller           597
Action             583
Adventure          416
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            223
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             20
Documentary          8
Foreign              2
dtype: int64

In [30]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [31]:
profitable = data[data.profit > 0]
genre_counter = Counter()

for genres in profitable.genres:
    genres = genres.split('|')
    for genre in genres:
        genre_counter[genre] += 1
genre_counter.most_common(1)

[('Drama', 560)]

In [32]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [33]:
data.director.value_counts()

Steven Soderbergh         13
Ridley Scott              12
Clint Eastwood            12
Steven Spielberg          10
Shawn Levy                10
                          ..
Floria Sigismondi          1
Chris Koch                 1
Andrew Erwin|Jon Erwin     1
Gavin O'Connor             1
Danny Cannon               1
Name: director, Length: 958, dtype: int64

In [34]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [35]:
profitable.director.value_counts()

Ridley Scott         12
Steven Soderbergh    10
Steven Spielberg     10
Clint Eastwood       10
Shawn Levy            9
                     ..
Richard Curtis        1
Steve Martino         1
Jon Amiel             1
Shane Black           1
Scott Waugh           1
Name: director, Length: 774, dtype: int64

In [36]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [37]:
data.groupby(['director']).profit.sum().sort_values(ascending=False)

director
Peter Jackson            5202593685
David Yates              3379295625
Christopher Nolan        3162548502
J.J. Abrams              2839169916
Michael Bay              2760938960
                            ...
David Bowers|Sam Fell     -84540684
Peter Hyams               -86956545
Ron Underwood             -92896027
James L. Brooks           -96289726
Sngmoo Lee               -413912431
Name: profit, Length: 958, dtype: int64

In [38]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [39]:
def spliter(df):
    x = df.split('|')
    return x

In [357]:
data.cast = data.cast.apply(spliter)

In [41]:
actor_profit = Counter()
i = 0

for actors in data.cast:
    for actor in actors:
        actor_profit[actor] += data.profit.iloc[i]
    i += 1

In [42]:
actor_profit.most_common(1)

[('Emma Watson', 6666245597)]

In [43]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [44]:
actor_loss = Counter()
new_data = data.query('release_year == 2012')
j = 0

for actors in new_data.cast:
    for actor in actors:
        actor_loss[actor] += new_data.profit.iloc[j]
    j += 1

In [45]:
actor_loss.most_common()[-1]

('Kirsten Dunst', -68109207)

In [46]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [47]:
budget_mean = data.budget.mean()
budget_mean

54506961.474603176

In [48]:
actor_counter = Counter()
high_budget = data[data.budget > budget_mean]

for actors in high_budget.cast:
    for actor in actors:
        actor_counter[actor] += 1

actor_counter.most_common(1)

[('Matt Damon', 18)]

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [115]:
data.genres = data.genres.apply(spliter)

In [50]:
cage_genre = Counter()

i = 0
for genres in data.genres:
    for genre in genres:
        if 'Nicolas Cage' in data.cast.iloc[i]:
            cage_genre[genre] += 1
    i += 1

In [51]:
cage_genre.most_common(1)

[('Action', 17)]

In [52]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [274]:
data.production_companies = data.production_companies.apply(spliter)

In [54]:
prod_counter = Counter()

for companies in data.production_companies:
    for company in companies:
        prod_counter[company] += 1
        
prod_counter.most_common(1)

[('Universal Pictures', 173)]

In [55]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [56]:
new_data = data.query('release_year == 2015')

In [282]:
prod_counter = Counter()

for companies in new_data.production_companies:
    for company in companies:
        prod_counter[company] += 1
        
prod_counter.most_common()

[('Universal Pictures', 173),
 ('Warner Bros.', 168),
 ('Paramount Pictures', 122),
 ('Columbia Pictures', 117),
 ('Twentieth Century Fox Film Corporation', 109),
 ('Relativity Media', 99),
 ('New Line Cinema', 88),
 ('Walt Disney Pictures', 82),
 ('Village Roadshow Pictures', 63),
 ('DreamWorks SKG', 62),
 ('Touchstone Pictures', 58),
 ('Regency Enterprises', 49),
 ('Metro-Goldwyn-Mayer (MGM)', 48),
 ('Columbia Pictures Corporation', 47),
 ('Dune Entertainment', 44),
 ('Summit Entertainment', 41),
 ('Miramax Films', 39),
 ('Dimension Films', 37),
 ('Lionsgate', 35),
 ('Fox 2000 Pictures', 35),
 ('Legendary Pictures', 34),
 ('Spyglass Entertainment', 32),
 ('Screen Gems', 31),
 ('Revolution Studios', 30),
 ('Original Film', 29),
 ('New Regency Pictures', 28),
 ('The Weinstein Company', 28),
 ('Working Title Films', 27),
 ('DreamWorks Animation', 26),
 ('Imagine Entertainment', 25),
 ('Scott Free Productions', 24),
 ('Lakeshore Entertainment', 24),
 ('Scott Rudin Productions', 24),
 ('Fox Searchlight Pictures', 24),
 ('Epsilon Motion Pictures', 24),
 ('Amblin Entertainment', 23),
 ('Happy Madison Productions', 23),
 ('StudioCanal', 23),
 ('Canal+', 22),
 ('Focus Features', 21),
 ('Studio Babelsberg', 20),
 ('NPV Entertainment', 20),
 ('Apatow Productions', 19),
 ('Ingenious Film Partners', 19),
 ('Jerry Bruckheimer Films', 19),
 ('Lions Gate Films', 19),
 ('Davis Entertainment', 18),
 ('EuropaCorp', 17),
 ('TriStar Pictures', 17),
 ('Silver Pictures', 17),
 ('Millennium Films', 17),
 ('20th Century Fox', 17),
 ('UK Film Council', 17),
 ('Dune Entertainment III', 17),
 ('Vertigo Entertainment', 16),
 ('Walden Media', 16),
 ('BBC Films', 16),
 ('TSG Entertainment', 15),
 ('Participant Media', 15),
 ('Alcon Entertainment', 15),
 ('Castle Rock Entertainment', 15),
 ('Media Rights Capital', 14),
 ('Nickelodeon Movies', 14),
 ('Di Bonaventura Pictures', 14),
 ('Pixar Animation Studios', 13),
 ('Film4', 13),
 ('Escape Artists', 13),
 ('1492 Pictures', 13),
 ('Marvel Enterprises', 13),
 ('Saturn Films', 13),
 ('Warner Bros. Pictures', 13),
 ('Franchise Pictures', 13),
 ('Dentsu', 12),
 ('Marvel Studios', 12),
 ('MTV Films', 12),
 ('Platinum Dunes', 12),
 ('Malpaso Productions', 12),
 ('Heyday Films', 12),
 ('Imagenation Abu Dhabi FZ', 12),
 ('Dark Castle Entertainment', 12),
 ('Intermedia Films', 12),
 ('Morgan Creek Productions', 12),
 ('Anonymous Content', 11),
 ('Endgame Entertainment', 11),
 ('Moving Picture Company (MPC)', 11),
 ('Blumhouse Productions', 11),
 ('Ingenious Media', 11),
 ('TF1 Films Production', 11),
 ('Nu Image Films', 11),
 ('Tim Burton Productions', 11),
 ('Scion Films', 11),
 ('Studio Canal', 11),
 ('GK Films', 11),
 ('DNA Films', 10),
 ('Double Feature Films', 10),
 ('Plan B Entertainment', 10),
 ('Open Road Films', 10),
 ('Marc Platt Productions', 10),
 ('Twentieth Century Fox Animation', 10),
 ('CBS Films', 10),
 ('Sunswept Entertainment', 10),
 ('WingNut Films', 10),
 ('Walt Disney Animation Studios', 10),
 ('Davis-Films', 10),
 ('Overbrook Entertainment', 10),
 ('Constantin Film Produktion', 10),
 ('Paramount Vantage', 10),
 ('Mosaic Media Group', 10),
 ('Robert Simonds Productions', 10),
 ('Cruise/Wagner Productions', 10),
 ('Bad Robot', 9),
 ('Appian Way', 9),
 ('Skydance Productions', 9),
 ('Blue Sky Studios', 9),
 ('Sony Pictures Animation', 9),
 ('Ghost House Pictures', 9),
 ('21 Laps Entertainment', 9),
 ("Donners' Company", 9),
 ('DC Comics', 9),
 ('Exclusive Media Group', 9),
 ('Impact Pictures', 9),
 ('Emmett/Furla Films', 9),
 ('Radar Pictures', 9),
 ('Mandate Pictures', 9),
 ('Rogue Pictures', 9),
 ('De Line Pictures', 9),
 ('Phoenix Pictures', 9),
 ('United Artists', 9),
 ('Color Force', 8),
 ('Temple Hill Entertainment', 8),
 ('Sony Pictures Entertainment (SPE)', 8),
 ('RatPac-Dune Entertainment', 8),
 ('Sidney Kimmel Entertainment', 8),
 ('Thunder Road Pictures', 8),
 ('BenderSpink', 8),
 ('Blinding Edge Pictures', 8),
 ('Syncopy', 8),
 ('Reliance Entertainment', 8),
 ('Section Eight', 8),
 ('Kennedy/Marshall Company, The', 8),
 ('Cheyenne Enterprises', 8),
 ('Stillking Films', 8),
 ('Atmosphere Entertainment MM', 7),
 ('Cross Creek Pictures', 7),
 ('Chernin Entertainment', 7),
 ('Roth Films', 7),
 ('ImageMovers', 7),
 ('Gary Sanchez Productions', 7),
 ('IM Global', 7),
 ('Troublemaker Studios', 7),
 ('FilmDistrict', 7),
 ('Annapurna Pictures', 7),
 ('Weed Road Pictures', 7),
 ('Mandalay Pictures', 7),
 ('Goldcrest Pictures', 7),
 ('Stuber Productions', 7),
 ('Walt Disney Feature Animation', 7),
 ('Canal Plus', 7),
 ('Virtual Studios', 7),
 ('Contrafilm', 7),
 ('DreamWorks Pictures', 7),
 ('Universal Studios', 6),
 ('Mandeville Films', 6),
 ('Red Wagon Entertainment', 6),
 ('Michael De Luca Productions', 6),
 ('Gold Circle Films', 6),
 ('Forward Pass', 6),
 ('Marvel Entertainment', 6),
 ('Spring Creek Productions', 6),
 ('LStar Capital', 6),
 ('PathÃ©', 6),
 ('QED International', 6),
 ('Province of British Columbia Production Services Tax Credit', 6),
 ('Jersey Films', 6),
 ('Offspring Entertainment', 6),
 ('Conundrum Entertainment', 6),
 ('Nick Wechsler Productions', 6),
 ('Lawrence Gordon Productions', 6),
 ('Centropolis Entertainment', 6),
 ('2929 Productions', 6),
 ('Twisted Pictures', 6),
 ('Atlas Entertainment', 6),
 ('The Zanuck Company', 6),
 ('Firm Films', 6),
 ('River Road Entertainment', 6),
 ('France 2 CinÃ©ma', 6),
 ('Pacific Data Images (PDI)', 6),
 ('Alphaville Films', 6),
 ('Zide-Perry Productions', 6),
 ('Current Entertainment', 6),
 ('Tribeca Productions', 6),
 ("Mel's Cite du Cinema", 6),
 ('Valhalla Motion Pictures', 6),
 ('Rising Star', 6),
 ('Big Screen Productions', 6),
 ('Beacon Pictures', 6),
 ('Major Studio Partners', 6),
 ('Mid Atlantic Films', 5),
 ('Illumination Entertainment', 5),
 ('Anarchos Productions', 5),
 ('Marv Films', 5),
 ('Bazelevs Production', 5),
 ('3 Arts Entertainment', 5),
 ('Mad Chance', 5),
 ('Sony Pictures', 5),
 ('Good Universe', 5),
 ('Wonderland Sound and Vision', 5),
 ('Infinitum Nihil', 5),
 ('Gran Via Productions', 5),
 ('Vinyl Films', 5),
 ('Smokehouse Pictures', 5),
 ('Bad Hat Harry Productions', 5),
 ('Hasbro', 5),
 ('Indian Paintbrush', 5),
 ('Lin Pictures', 5),
 ('Warner Bros. Animation', 5),
 ('1984 Private Defense Contractors', 5),
 ('FilmNation Entertainment', 5),
 ('Karz Entertainment', 5),
 ('Rainforest Films', 5),
 ('Strike Entertainment', 5),
 ('Broken Road Productions', 5),
 ('Green Hat Films', 5),
 ('Maverick Films', 5),
 ('Flower Films (II)', 5),
 ('Walt Disney', 5),
 ('Stage 6 Films', 5),
 ('Wintergreen Productions', 5),
 ('Wild West Picture Show Productions', 5),
 ('Fox Atomic', 5),
 ('The Montecito Picture Company', 5),
 ('Mike Zoss Productions', 5),
 ('WWE Studios', 5),
 ('Tapestry Films', 5),
 ('Edward R. Pressman Film', 5),
 ('One Race Productions', 5),
 ('Hyde Park Films', 5),
 ('Isle of Man Film', 5),
 ('DC Entertainment', 5),
 ('Mutual Film Company', 5),
 ('Paramount Animation', 5),
 ('Industry Entertainment', 5),
 ('American Zoetrope', 5),
 ('Lawrence Bender Productions', 5),
 ('Bel Air Entertainment', 5),
 ('Dino De Laurentiis Company', 5),
 ('Grive Productions', 5),
 ('Dark Horse Entertainment', 5),
 ('Intrepid Pictures', 5),
 ('Virgin Produced', 5),
 ('Initial Entertainment Group (IEG)', 5),
 ('Laura Ziskin Productions', 5),
 ('Laurence Mark Productions', 5),
 ('Silver Reel', 5),
 ('Lucasfilm', 4),
 ('Revolution Sun Studios', 4),
 ('M6 Films', 4),
 ('CinÃ©+', 4),
 ('Waverly Films', 4),
 ('Moonlighting Films', 4),
 ('Groundswell Productions', 4),
 ('Sony Pictures Entertainment', 4),
 ('Red Granite Pictures', 4),
 ('Alliance Films', 4),
 ('Closest to the Hole Productions', 4),
 ('Bold Films', 4),
 ('Shangri-La Entertainment', 4),
 ('Dune Films', 4),
 ('Wildwood Enterprises', 4),
 ('Treehouse Pictures', 4),
 ('Mace Neufeld Productions', 4),
 ('Nimar Studios', 4),
 ('Protozoa Pictures', 4),
 ('Don Carmody Productions', 4),
 ('Laika Entertainment', 4),
 ('Grindstone Entertainment Group', 4),
 ('Bluegrass Films', 4),
 ('Canadian Film or Video Production Tax Credit (CPTC)', 4),
 ('The Mark Gordon Company', 4),
 ('Focus Films', 4),
 ('Montecito Picture Company, The', 4),
 ('Gunn Films', 4),
 ('Misher Films', 4),
 ('Icon Productions', 4),
 ('Canal+ EspaÃ±a', 4),
 ('Josephson Entertainment', 4),
 ('PathÃ© Renn Productions', 4),
 ('LivePlanet', 4),
 ('Everyman Pictures', 4),
 ('Bona Fide Productions', 4),
 ('Jerry Weintraub Productions', 4),
 ('Cruel and Unusual Films', 4),
 ('Reliance BIG Entertainment', 4),
 ('Rat Entertainment', 4),
 ('Toho-Towa', 4),
 ('Wayans Bros. Entertainment', 4),
 ('Brad Grey Pictures', 4),
 ('Miramax', 4),
 ('Metropolitan Filmexport', 4),
 ('Newmarket Capital Group', 4),
 ('Tollin/Robbins Productions', 4),
 ('Playtone', 4),
 ('China Film Co-Production Corporation', 4),
 ('Grosvenor Park Media Ltd.', 4),
 ('Red Hour Films', 4),
 ('Kanzaman', 4),
 ('CinÃ©CinÃ©ma', 4),
 ('The Kennedy/Marshall Company', 4),
 ('Casey Silver Productions', 4),
 ('Neal Street Productions', 4),
 ('Ecosse Films', 4),
 ('GreeneStreet Films', 4),
 ('Paradox Entertainment', 4),
 ('Amen Ra Films', 4),
 ('Icon Entertainment International', 4),
 ('Konrad Pictures', 4),
 ('Quinta Communications', 4),
 ('Avery Pix', 4),
 ('Shady Acres Entertainment', 4),
 ('Parkes/MacDonald Productions', 4),
 ('Aardman Animations', 4),
 ('Brightlight Pictures', 4),
 ('Warner Independent Pictures (WIP)', 4),
 ('Section Eight Productions', 4),
 ('Craven-Maddalena Films', 4),
 ('Global Entertainment Productions GmbH & Company Medien KG', 4),
 ('Fuji Television Network', 3),
 ('NeoReel', 3),
 ('Walt Disney Studios Motion Pictures', 3),
 ('Genre Films', 3),
 ('TC Productions', 3),
 ('Gotham Group', 3),
 ('A24', 3),
 ('Buena Vista', 3),
 ('Irish Film Board', 3),
 ('Cube Vision', 3),
 ('Goldmann Pictures', 3),
 ('Wigram Productions', 3),
 ('DMG Entertainment', 3),
 ('Ram Bergman Productions', 3),
 ('Point Grey Pictures', 3),
 ('Worldview Entertainment', 3),
 ('Automatik Entertainment', 3),
 ('Sony Pictures Releasing', 3),
 ('Insurge Pictures', 3),
 ('Disruption Entertainment', 3),
 ('Instituto de la CinematografÃ\xada y de las Artes Audiovisuales (ICAA)', 3),
 ('Clinica Estetico', 3),
 ('RatPac Entertainment', 3),
 ('Crave Films', 3),
 ('Aldamisa Entertainment', 3),
 ('Big Kid Pictures', 3),
 ('Ghoulardi Film Company', 3),
 ('Screen Australia', 3),
 ('Harpo Films', 3),
 ('Celador Films', 3),
 ('Cloud Eight Films', 3),
 ('DisneyToon Studios', 3),
 ('The Safran Company', 3),
 ('HanWay Films', 3),
 ('Olive Bridge Entertainment', 3),
 ('Affirm Films', 3),
 ('A Band Apart', 3),
 ('Internationale Filmproduktion Blackbird Dritte', 3),
 ('Starz Animation', 3),
 ('Imprint Entertainment', 3),
 ('Radical Media', 3),
 ('Buckaroo Entertainment', 3),
 ('Chockstone Pictures', 3),
 ('Fortis Films', 3),
 ('Telecinco Cinema', 3),
 ('Spectacle Entertainment Group', 3),
 ('This Is That Productions', 3),
 ('DreamWorks', 3),
 ('Cold Spring Pictures', 3),
 ('Team Todd', 3),
 ('Zanuck Company, The', 3),
 ('Peninsula Films', 3),
 ('Junction Entertainment', 3),
 ('Bedford Falls Productions', 3),
 ('Tree Line Films', 3),
 ('Linson Entertainment', 3),
 ('Katalyst Films', 3),
 ('Three Strange Angels', 3),
 ('PathÃ© Pictures International', 3),
 ('Prescience', 3),
 ('Mayhem Pictures', 3),
 ('Gracie Films', 3),
 ('Bazmark Films', 3),
 ('Gold/Miller Productions', 3),
 ('View Askew Productions', 3),
 ('Beacon Communications', 3),
 ('Cinerenta Medienbeteiligungs KG', 3),
 ('IMF Internationale Medien und Film GmbH & Co. 3. Produktions KG', 3),
 ('Hyde Park Entertainment', 3),
 ('Eon Productions', 3),
 ('Gerber Pictures', 3),
 ('Hypnotic', 3),
 ('Voltage Pictures', 3),
 ('K/O Paper Products', 3),
 ('Wild Bunch', 3),
 ('Depth of Field', 3),
 ('Bedford Falls Company, The', 3),
 ('Ascendant Pictures', 3),
 ('VIP Medienfonds 4', 3),
 ('International Production Company', 3),
 ('Odd Lot Entertainment', 3),
 ('Art Linson Productions', 3),
 ('Film Rites', 3),
 ('Fox Searchlight', 3),
 ('Mark Canton Productions', 3),
 ('FilmEngine', 3),
 ('Room 101', 3),
 ('Solana Films', 3),
 ('Prospero Pictures', 3),
 ('DiNovi Pictures', 3),
 ('Kalima Productions GmbH & Co. KG', 3),
 ('Splendid Pictures', 3),
 ('Parkes+MacDonald Image Nation', 3),
 ('Artisan Entertainment', 3),
 ('Mikona Productions GmbH & Co. KG', 3),
 ('David Foster Productions', 3),
 ('Colombia Pictures', 3),
 ('Propaganda Films', 3),
 ('Evolution Entertainment', 3),
 ('World 2000 Entertainment', 3),
 ('Marty Katz Productions', 3),
 ('Signature Pictures', 3),
 ('Good Machine', 3),
 ('Baltimore Spring Creek Productions', 3),
 ('Hemisphere Media Capital', 3),
 ('Yucaipa Films', 3),
 ('Cheetah Vision', 3),
 ('Jinks/Cohen Company', 3),
 ('Next Entertainment', 3),
 ('Mirage Enterprises', 3),
 ('Lonely Film Productions GmbH & Co. KG.', 3),
 ('Tig Productions', 3),
 ('Dylan Sellers Productions', 3),
 ('Universal', 3),
 ('Weinstein Company, The', 3),
 ('Yari Film Group', 3),
 ('WV Films III', 3),
 ('Baldwin Entertainment Group', 3),
 ('Bob Yari Productions', 3),
 ('Radiant Productions', 3),
 ('Zephyr Films', 3),
 ('Kennedy Miller Productions', 2),
 ('One Race Films', 2),
 ('International Traders', 2),
 ('Prime Focus', 2),
 ('FilmColony', 2),
 ('Babieka', 2),
 ('Flynn Picture Company', 2),
 ('Trigger Street Productions', 2),
 ('Fuzzy Door Productions', 2),
 ('Alpha Core', 2),
 ('Brownstone Productions', 2),
 ('Element Pictures', 2),
 ('No Trace Camping', 2),
 ('Energy Entertainment', 2),
 ('Wildgaze Films', 2),
 ('Killer Films', 2),
 ('Free State Pictures', 2),
 ('Huayi Brothers Media', 2),
 ('Feigco Entertainment', 2),
 ('Fox International Productions', 2),
 ('Chartoff-Winkler Productions', 2),
 ('Entertainment One', 2),
 ('Anton Capital Entertainment (ACE)', 2),
 ('David Dobkin Productions', 2),
 ('Blue-Tongue Films', 2),
 ('Onyx Films', 2),
 ('Sony Pictures Home Entertainment', 2),
 ('Living Films', 2),
 ('Origin Pictures', 2),
 ('Iron Horse Entertainment (II)', 2),
 ('Route One Films', 2),
 ('Pacific Standard', 2),
 ('Columbia TriStar', 2),
 ('Ruby Films', 2),
 ('Lynda Obst Productions', 2),
 ('87Eleven', 2),
 ('Mad Hatter Entertainment', 2),
 ('LionsGate', 2),
 ('Outlaw Sinema', 2),
 ('WideAwake', 2),
 ('Hollywood Gang Productions', 2),
 ('Echo Films', 2),
 ('Why Not Productions', 2),
 ('Before the Door Pictures', 2),
 ('Washington Square Films', 2),
 ('Radical Studios', 2),
 ('AR Films', 2),
 ('Demarest Films', 2),
 ('Crescendo Productions', 2),
 ('Bandito Brothers', 2),
 ('Electric City Entertainment', 2),
 ('Prana Studios', 2),
 ('Prana Animation Studios', 2),
 ('Albert S. Ruddy Productions', 2),
 ('Likely Story', 2),
 ('Fake Empire', 2),
 ('Scope Pictures', 2),
 ('Evergreen Media Group', 2),
 ('Hopscotch Features', 2),
 ('Screen Gems, Inc.', 2),
 ('Scottish Screen', 2),
 ('Boxing Cat Films', 2),
 ('Pure Flix Entertainment', 2),
 ('Winkler Films', 2),
 ('Lightstorm Entertainment', 2),
 ('Sketch Films', 2),
 ('Key Creatives', 2),
 ('Arc Productions', 2),
 ('Skylark Productions', 2),
 ('Kurtzman/Orci', 2),
 ('American Empirical Pictures', 2),
 ('Inferno Distribution', 2),
 ('Kaplan/Perrone Entertainment', 2),
 ('Virtual Films', 2),
 ('Palomar Pictures (II)', 2),
 ('Practical Pictures', 2),
 ('Parallel Zide', 2),
 ('Bagdasarian Productions', 2),
 ('Andell Entertainment', 2),
 ('Pictures in Paradise', 2),
 ('Pacific Film and Television Commission', 2),
 ('Australian Film Finance Corporation (AFFC)', 2),
 ('Rogue', 2),
 ('Stars Road Entertainment', 2),
 ('Imagi Animation Studios', 2),
 ('X-Filme Creative Pool', 2),
 ('Paul Schiff Productions', 2),
 ('26 Films', 2),
 ('Seed Productions', 2),
 ('CinemaNX', 2),
 ('Sikelia Productions', 2),
 ('Lions Gate', 2),
 ('Overnight Films', 2),
 ('Aegis Film Fund', 2),
 ('Madhouse Entertainment', 2),
 ('Road Rebel', 2),
 ('Home Box Office (HBO)', 2),
 ('HBO Films', 2),
 ('Hammer Film Productions', 2),
 ('Overture Films', 2),
 ('Animal Logic', 2),
 ('Intellectual Properties Worldwide', 2),
 ('Penn Station Entertainment', 2),
 ('Maguire Entertainment', 2),
 ('Omnilab Media', 2),
 ('Ambience Entertainment', 2),
 ('Serendipity Point Films', 2),
 ('platinum studios', 2),
 ('The Saul Zaentz Company', 2),
 ('Little Bird', 2),
 ('British Broadcasting Corporation (BBC)', 2),
 ('WV Films II', 2),
 ('Lucky Red', 2),
 ('Red Wagon Productions', 2),
 ('Chris Lee Productions', 2),
 ('David Brown Productions', 2),
 ('USA Films', 2),
 ('Sean S. Cunningham Films', 2),
 ('Crystal Lake Entertainment', 2),
 ('Kopelson Entertainment', 2),
 ('David Kirschner Productions', 2),
 ('Darkwoods Productions', 2),
 ('Ardustry Entertainment', 2),
 ('ApolloMedia Distribution', 2),
 ('TPS Star', 2),
 ('Sommers Company, The', 2),
 ('KMP Film Invest', 2),
 ('Rogue Marble', 2),
 ('Hammerhead Productions', 2),
 ('MHF Zweite Academy Film', 2),
 ('Marvel Knights', 2),
 ('Castel Film Romania', 2),
 ('Blueprint Pictures', 2),
 ('Twins Financing', 2),
 ('Type A Films', 2),
 ('Castelao Producciones', 2),
 ('Grosvenor Park Productions', 2),
 ('Blue Star Pictures', 2),
 ('Media Magik Entertainment', 2),
 ('2 Entertain', 2),
 ('Guy Walks into a Bar Productions', 2),
 ('Deep River Productions', 2),
 ('Odyssey Entertainment', 2),
 ('Management 360', 2),
 ('Emperor Motion Pictures', 2),
 ('Nu Image Entertainment GmbH', 2),
 ('Vendome Pictures', 2),
 ('France 3 CinÃ©ma', 2),
 ('Studio 37', 2),
 ('Jouror Productions', 2),
 ('Nouvelles Ã‰ditions de Films (NEF)', 2),
 ('New Legacy', 2),
 ('Playtone Productions', 2),
 ('Big Talk Productions', 2),
 ('The Jacobson Company', 2),
 ('Participant Productions', 2),
 ('LD Entertainment', 2),
 ('Kerner Entertainment Company', 2),
 ('Indochina Productions', 2),
 ('Fierce Entertainment', 2),
 ('Runteldat Entertainment', 2),
 ('China Film Group Corporation (CFGC)', 2),
 ('DJ Films', 2),
 ('Bac Films', 2),
 ('Blue Tulip Productions', 2),
 ('Imaginary Forces', 2),
 ('Out of the Blue... Entertainment', 2),
 ('Lion Rock Productions', 2),
 ('Material', 2),
 ('Walt Disney Television Animation', 2),
 ('Walt Disney Animation Australia', 2),
 ('Storyline Entertainment', 2),
 ('Monarch Pictures', 2),
 ('David Ladd Films', 2),
 ('Allied Filmmakers', 2),
 ('Sony Pictures Classics', 2),
 ('Leverage Management', 2),
 ('Film i VÃ¤st', 2),
 ('Tim Burton Animation Company', 2),
 ('British Film Institute (BFI)', 2),
 ('Wessler Entertainment', 2),
 ('Pariah Entertainment Group', 2),
 ('Vanguard Films', 2),
 ('TÃ©lÃ©film Canada', 2),
 ('Super Cool ManChu', 2),
 ('C-2 Pictures', 2),
 ('Angry Films', 2),
 ('Mediastream Dritte Film GmbH & Co. Beteiligungs KG', 2),
 ('Samuel Goldwyn Films', 2),
 ('Birnbaum / Barber Productions', 2),
 ('Cobalt Media Group', 2),
 ('Artists Production Group (APG)', 2),
 ('Tall Trees Productions', 2),
 ('Boll Kino Beteiligungs GmbH & Co. KG', 2),
 ('Herold Productions', 2),
 ('Madacy Entertainment', 2),
 ('Envision Entertainment Corporation', 2),
 ('Revolution Films', 2),
 ('H2F Entertainment', 2),
 ('Muse Productions', 2),
 ('Two Ton Films', 2),
 ('After Dark Films', 2),
 ('40 Acres & A Mule Filmworks', 2),
 ('Pathe', 2),
 ('Kumar Mobiliengesellschaft mbH & Co. Projekt Nr. 1 KG', 2),
 ('MFPV Film', 2),
 ('Alberta Film Entertainment', 2),
 ('VIP 3 Medienfonds', 2),
 ('MacDonald/Parkes Productions', 2),
 ('John Wells Productions', 2),
 ('Babelsberg Film', 2),
 ('Mars Media Beteiligungs', 2),
 ('The Ladd Company', 2),
 ('FilmWorks', 2),
 ('Biscayne Pictures', 2),
 ('Kumar Mobiliengesellschaft mbH & Co. Projekt Nr. 2 KG', 2),
 ('Senator International', 2),
 ('Second Mate Productions', 2),
 ('Capitol Films', 2),
 ('Hard Eight Pictures', 2),
 ('Playtone Production', 2),
 ('Michael London Productions', 2),
 ("Bull's Eye Entertainment", 2),
 ('Nu Image Entertainment', 2),
 ('Kernos Filmproduktionsgesellschaft & Company', 2),
 ('Eyetronics', 2),
 ('Storefront Pictures', 2),
 ('BIM Distribuzione', 2),
 ('Jon Shestack Productions', 2),
 ('Hollywood Pictures', 2),
 ('Ludlum Entertainment', 2),
 ('Mediastream Vierte Film GmbH & Co. Vermarktungs KG', 2),
 ('Blackfriars Bridge Films', 2),

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [58]:
comedy_profit = Counter()
i = 0


for companies in data.production_companies:
    if 'Comedy' in data.genres.iloc[i]:
        for company in companies:
            comedy_profit[company] += data.profit.iloc[i]
    i += 1

comedy_profit.most_common(1)

[('Universal Pictures', 8961545581)]

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [59]:
new_data = data.query('release_year == 2012')

In [60]:
company_profit = Counter()
i = 0

for companies in new_data.production_companies:
    for company in companies:
        company_profit[company] += new_data.profit.iloc[i]
    i += 1
    
company_profit.most_common(1)

[('Columbia Pictures', 2501406608)]

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [61]:
pp_loss = Counter()
i = 0

for film in data.original_title:
    if 'Paramount Pictures' in data.production_companies.iloc[i]:
        pp_loss[film] += data.profit.iloc[i]
    i += 1

pp_loss.most_common()[-1]

('K-19: The Widowmaker', -64831034)

In [62]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [63]:
data.groupby('release_year').profit.sum().sort_values(ascending=False).head(1)

release_year
2015    18668572378
Name: profit, dtype: int64

In [64]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [126]:
wb_films = data[data.production_companies.apply(lambda x: 'Warner Bros.' in x)]

In [127]:
wb_films.groupby(['release_year']).profit.sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

In [119]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [215]:
data.release_date = pd.to_datetime(data.release_date)

In [145]:
month_counter = Counter()

for month in data.release_date.dt.month:
    month_counter[month] += 1

month_counter.most_common(1)

[(9, 227)]

In [146]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [147]:
summer_counter = Counter()

for month in data.release_date.dt.month:
    if 6 <= month <= 8:
        summer_counter['summer'] += 1
        
summer_counter

Counter({'summer': 450})

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [151]:
winter_directors = data[data.release_date.dt.month.isin([12, 1, 2])]

In [154]:
winter_directors.director.value_counts()

Peter Jackson            7
Clint Eastwood           6
Steven Soderbergh        6
Martin Scorsese          4
Shawn Levy               4
                        ..
Sergey Bodrov            1
Asger Leth               1
Daniel Espinosa          1
Kevin Rodney Sullivan    1
Danny Boyle              1
Name: director, Length: 333, dtype: int64

In [155]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [218]:
data['release_month'] = data.release_date.dt.month

In [259]:
pvt = pd.pivot_table(data, columns='release_year', index='release_month', values='profit', aggfunc='sum')
pvt

release_year,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
release_month,,,,,,,,,,,,,,,,
1,-26344591,127876758,13657034,145423503,223449403,419099490,138996816,91188025,440344541,996529660,233051923,591644835,381045653,449051535,541637085,630233784
2,310137593,178360689,557847442,422979087,727540831,506931359,317624889,500661304,987454669,326413800,671341193,642751509,573073426,509981099,736685970,884789565
3,490709929,396218262,832386092,160261385,307233119,440128754,799504296,714586308,251671904,1276096794,1471122239,1443419914,1459834347,970223425,1768873778,937945994
4,124362846,659725033,343737203,479653942,275005057,178673498,361121653,143245753,720571689,651749767,841530415,1507477958,1767272417,1423545114,795767674,2602565518
5,1382722190,767934975,1421928692,2000292657,2412578839,1575566228,985092012,2042169546,1744305931,1435747314,1105092975,1917491757,1140614925,1724496337,2279978281,1103503482
6,517315528,780612105,747704475,406445507,1294266591,1193230558,2098059770,2764341802,1943384763,1520284741,2449561498,1524706926,2965481705,2411922008,1176264662,3757679861
7,563809888,873718941,629306797,1356384641,834850950,870215460,242337901,747619985,1791301749,1202339588,1567485183,2331661017,940512033,1192996016,1611081683,1552273188
8,264018332,726979609,579318434,444992536,332763539,266644459,429249082,881421482,325382603,803565587,971023396,667283164,702588445,590070005,1163610627,491699146
9,175306761,21874909,417267245,503313816,475369751,995622427,451456811,435838557,339476350,393041320,1091274243,733166385,1308166465,1165693297,596366679,1775686025
10,399938512,146204533,420527680,837090991,593314410,154493344,826087838,516228592,1145762453,836577088,1080204976,968743489,1320250459,1042812263,1764509467,942161764
11,487934818,1567240927,1190606216,609390731,1050846495,1027204825,1106305898,896805244,847289768,558158975,736020890,859313689,2412991475,2047380217,2043956761,1212708544
12,1411487999,1703868124,1848074177,1862594516,1106961735,1354115156,935240354,1831805203,1126935570,3423239738,899583599,1542580698,1105170337,1715008475,1919080286,2777325507

In [272]:
pvt.idxmax(axis=0).value_counts()

6     7
12    4
5     4
7     1
dtype: int64

In [268]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [295]:
length = Counter()
i = 0

for companies in data.production_companies:
    for company in companies:
        length[company] += len(data.original_title.iloc[i])
    i += 1

In [299]:
film_amount = pd.Series([x[1] for x in prod_counter.most_common()], index=[x[0] for x in prod_counter.most_common()])
title_length = pd.Series([x[1] for x in length.most_common()], index=[x[0] for x in length.most_common()])

In [303]:
(title_length / film_amount).sort_values()

Global Entertainment Group     2.0
Ixtlan Productions             2.0
XM2 Productions                2.0
Berlanti Productions           3.0
Everest Entertainment          3.0
                              ...
Museum Canada Productions     46.0
Polsky Films                  46.0
Dos Corazones                 47.0
Jim Henson Company, The       59.0
Four By Two Productions       83.0
Length: 1772, dtype: float64

In [308]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [320]:
title_words = Counter()
i = 0

for companies in data.production_companies:
    for company in companies:
        title_words[company] += len(data.original_title.iloc[i].split())
    i += 1

In [323]:
title_length = pd.Series([x[1] for x in title_words.most_common()], index=[x[0] for x in title_words.most_common()])
film_amount = pd.Series([x[1] for x in prod_counter.most_common()], index=[x[0] for x in prod_counter.most_common()])

In [325]:
(title_length / film_amount).sort_values()

Great Wight Productions/ Osford Films     1.0
Blue Sea Productions                      1.0
Blue Productions                          1.0
Maple Shade Films                         1.0
Many Rivers Productions                   1.0
                                         ...
Dos Corazones                             9.0
The Saul Zaentz Company                   9.0
Polsky Films                              9.0
Jim Henson Company, The                  10.0
Four By Two Productions                  12.0
Length: 1772, dtype: float64

In [326]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [328]:
unique_words = []

for title in data.original_title:
    for word in title.lower().split():
        if word not in unique_words:
            unique_words.append(word)

In [330]:
len(unique_words)

2461

In [331]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky and Bullwinkle
3. The Lord of the Rings: The Return of the King, Upside Down
4. 300, Lucky Number Slevin
5. Upside Down, 300, Inside Out, The Lord of the Rings: The Return of the King

In [344]:
data[['original_title', 'vote_average']].sort_values(by='vote_average', ascending=False)[:19]

                                         original_title  vote_average
600                                     The Dark Knight           8.1
125                                  The Imitation Game           8.0
9                                            Inside Out           8.0
118                                        Interstellar           8.0
34                                                 Room           8.0
1082      The Lord of the Rings: The Return of the King           7.9
873                                         The Pianist           7.9
1801                                            Memento           7.9
1192                                   12 Years a Slave           7.9
128                                           Gone Girl           7.9
138                            The Grand Budapest Hotel           7.9
119                             Guardians of the Galaxy           7.9
1184                            The Wolf of Wall Street           7.9
370                                           Inception           7.9
316                                            3 Idiots           7.8
1564              Eternal Sunshine of the Spotless Mind           7.8
497   The Lord of the Rings: The Fellowship of the Ring           7.8
28                                            Spotlight           7.8
1214                                 Dallas Buyers Club           7.8

In [345]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [365]:
actor_pairs = Counter()

for actors in data.cast:
    for pair in itertools.combinations(actors, 2):
        actor_pairs[pair] += 1

In [366]:
actor_pairs.most_common(10)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6),
 (('Adam Sandler', 'Kevin James'), 5),
 (('Hugh Jackman', 'Ian McKellen'), 5),
 (('Kristen Stewart', 'Robert Pattinson'), 5),
 (('Kristen Stewart', 'Taylor Lautner'), 5),
 (('Robert Pattinson', 'Taylor Lautner'), 5)]

In [364]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [409]:
data.director = data.director.apply(spliter)

In [414]:
d_all = Counter()

for directors in data.director:
    for director in directors:
        d_all[director] += 1

d_all.most_common(5)

[('Steven Soderbergh', 13),
 ('Ridley Scott', 12),
 ('Clint Eastwood', 12),
 ('Robert Rodriguez', 11),
 ('Steven Spielberg', 10)]

In [415]:
d_plus = Counter()

for directors in data[data.profit > 0].director:
    for director in directors:
        d_plus[director] += 1

d_plus.most_common(5)

[('Ridley Scott', 12),
 ('Steven Spielberg', 10),
 ('Clint Eastwood', 10),
 ('Steven Soderbergh', 10),
 ('Shawn Levy', 9)]

In [428]:
film_amount = pd.Series([x[1] for x in d_all.most_common()], index=[x[0] for x in d_all.most_common()])
profitable_films = pd.Series([x[1] for x in d_plus.most_common()], index=[x[0] for x in d_plus.most_common()])
probability = (profitable_films / film_amount)

In [429]:
probability.loc[['Quentin Tarantino',
                 'Steven Soderbergh',
                 'Robert Rodriguez',
                 'Christopher Nolan',
                 'Clint Eastwood']].sort_values(ascending=False)

Christopher Nolan    1.000000
Quentin Tarantino    0.857143
Clint Eastwood       0.833333
Steven Soderbergh    0.769231
Robert Rodriguez     0.727273
dtype: float64

In [430]:
answer_ls.append(4)

# Submission

In [431]:
len(answer_ls)

32

In [432]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls})

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       2
18  19       1
19  20       1
20  21       5
21  22       1
22  23       4
23  24       5
24  25       2
25  26       5
26  27       5
27  28       3
28  29       1
29  30       5
30  31       5
31  32       4